@font-face {
  font-family: "iconfont"; /* Project id 5030414 */
  src: 
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABvwAAAKTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACDBgqBUIE8ATYCJAMMCwgABCAFhGcHOhscBsgekiSBEGKeQAQACEARhGvkbJLLMynglj2hqyJQVS9UmZ0i5SuBNPD975pmhIooQl1BDlkhpHc/OcBcSg7VZskW1IRHx36qs1WrcHvtbu92dz79qZwFFMr5ywDQpGsCjbFsLPpgEQ1Y97KWSrixgt5FvdaXZmTENQLdtppRv39laxd1rxNhoyGNrD7I6mNdYwS1yoii4HynUKFri3ihIT1M33gePT6+2h6tJE1mDzl6cVlBrx982J9TbYr8VqAT8GUJDTI2QgpxrjtzQoNo4ht0OxtxeVWENGu8rRFpyl6dPzySICpb2wtWSDbxgadlrv3YfNdnZVBRsA1yhPWOjh2Zal0IRg+A7SWCQT67T/f13V31KNRX9NykekFR9N5e9zOw97d9RWt77z/s2VMqFksL+8bkx9wctHYtlyuvOevat+84tmpoG/LspUL2b0P+b1t7tfUGNnDnNroAoU3lSk7RFnM5n/7b31h79vx6fmDqW2dPAe9+519G4TZVELxKp4TQ/qTrDJBYVJRcmjSvQSBbHJlK6HbitMgGhv2O947caC50GsmQdJhB1mmOKtwaGj22o+q0A902WN7cY4SrQZQuLMkihEEPSPq9QTbojSrcDxrjKqgG/aPbsejar8dSyIsciAAFR5JYkx2buh4RGd0GFjUJr0vuA/c1HMchKVjOr4INfIoFfoyFhaCYcsfCK/wyME0Hu9zRQRaSKoQ7EQjQprtIsmOhRRwgBKDAIpIwjcxhowFZFF9vG2CiTAQHUvsZzqdh41iIJAigVp02qOtODvHFMGGCQGEURzkLtiJHAZPJgbnNo3RAJkjUESnXhIBDolCntL7b+nqq6MMenyNFjqLjkkpsg2jNLErsiIYQAA==') format('woff2'),
       url('iconfont.woff?t=1758785590848') format('woff'),
       url('iconfont.ttf?t=1758785590848') format('truetype'),
       url('iconfont.svg?t=1758785590848#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai:before {
  content: "\e644";
}

.icon-guanbi:before {
  content: "\e600";
}

